@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
body {
  background-color: #ffffff;
  height: 100vh;
  margin: 0;
  display: block;
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
}

body a {
  color: #318fc2;
  text-decoration: none;
}

.btn {
  width: 100%;
  max-width: 200px;
  padding: 10px 0;
  border: none;
  font-family: Roboto;
  font-weight: 700;
  font-size: 17px;
  outline: none;
  cursor: pointer;
}

.btn.btn__login {
  background-color: #640360;
  color: #ffffff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.modal-open {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px 2em;
  width: 80%;
  max-width: 500px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.close {
  color: #318fc2;
  float: right;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

.modal-content__header {
  font-size: 24px;
  font-weight: 400;
  color: #5c5c5c;
}

.form-group__input {
  padding: 10px 0;
}

.form-group__input label {
  font-weight: 700;
  color: #5c5c5c;
  margin: 10px;
  display: inline-block;
}

@media (max-width: 760px) {
  .form-group__input label {
    text-align: left;
  }
}

.form-group__input input {
  padding: 10px 1em;
  width: 75%;
  float: right;
  display: inline-block;
  margin-bottom: 18px;
}

@media (max-width: 760px) {
  .form-group__input input {
    width: 92%;
  }
}

.form-group__btn {
  text-align: right;
}

@media (max-width: 760px) {
  .form-group__btn {
    text-align: center;
  }
}

#page-header {
  background-color: #318fc2;
}

#primary-nav .nav__item a {
  color: #ffffff;
}

#primary-nav .nav__item i {
  position: absolute;
  right: .4em;
  top: 4.5em;
}

@media (min-width: 761px) {
  #primary-nav .nav__item {
    padding: .8em;
    font-size: 17px;
  }
  #primary-nav .nav__item.nav__item-active {
    background-color: #17445c;
  }
}

#primary-nav .nav__items-desktop {
  display: none;
}

@media (min-width: 761px) {
  #primary-nav .nav__items-desktop {
    display: block;
  }
}

#primary-nav .nav__items-mobile {
  display: block;
}

@media (min-width: 761px) {
  #primary-nav .nav__items-mobile {
    display: none;
  }
}

@media (max-width: 760px) {
  #primary-nav.nav__items-open .nav__items-desktop {
    float: none;
    display: block;
    text-align: left;
  }
  #primary-nav.nav__items-open .nav__items-desktop a {
    float: none;
    display: block;
    text-align: left;
    background-color: #17445c;
    font-size: 17px;
    padding: .3em;
  }
}

@media (min-width: 761px) {
  #primary-nav {
    display: inline-block;
    float: right;
    margin: 10px;
  }
}

#page-logo {
  background-image: url("../images/urbank@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 74px;
  padding: 1.2em .5em;
}

@media (min-width: 761px) {
  #page-logo {
    background-image: url("../images/urbank.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 37px;
    width: 152px;
    padding: .1em 3em;
    display: inline-block;
  }
}

#login-section {
  padding: 20px 10%;
  text-align: center;
}

#page-footer {
  background-color: #f5f5f5;
}
/*# sourceMappingURL=main.css.map */