@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
body {
  background-color: #ffffff;
  height: 100vh;
  margin: 0;
  display: block;
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
}

body a {
  color: #318fc2;
  text-decoration: none;
}

#main-content {
  min-height: calc(100vh - 200px);
}

.btn {
  width: 100%;
  max-width: 200px;
  padding: 10px 0;
  border: none;
  font-family: Roboto;
  font-weight: 700;
  font-size: 17px;
  outline: none;
  cursor: pointer;
}

.btn.btn__login {
  background-color: #640360;
  color: #ffffff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.modal-open {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 2em;
  width: 80%;
  max-width: 500px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.close {
  color: #318fc2;
  float: right;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

.modal-content__header {
  font-size: 24px;
  font-weight: 400;
  color: #5c5c5c;
}

.form-group__input {
  padding: 10px 0;
}

.form-group__input label {
  font-weight: 700;
  color: #5c5c5c;
  margin: 10px;
  display: inline-block;
}

@media (max-width: 760px) {
  .form-group__input label {
    text-align: left;
  }
}

.form-group__input input {
  padding: 10px 1em;
  width: 75%;
  float: right;
  display: inline-block;
  margin-bottom: 18px;
}

@media (max-width: 760px) {
  .form-group__input input {
    width: 92%;
  }
}

.form-group__btn {
  text-align: right;
}

@media (max-width: 760px) {
  .form-group__btn {
    text-align: center;
  }
}

.lighter {
  color: #5c5c5c;
}

.darker {
  color: #000000;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th {
  font-weight: 400;
}

.table th, .table td {
  text-align: left;
  padding: 8px;
}

.table tbody tr:nth-child(1) {
  font-weight: 700;
}

.table tbody tr:nth-child(odd) {
  background-color: #dbebe0;
}

.table tbody tr:nth-child(even) {
  background-color: #cbe1d2;
}

.tab__content {
  display: none;
  padding: 20px 1em;
  max-width: 250px;
  height: 350px;
  background: #f5f5f5;
  border-left: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
}

.tab__content.tab__content-active {
  display: block;
}

.tab__controls .tab__control {
  background-color: #bbd8c4;
  font-size: 17px;
  color: #318fc2;
  padding: .8em 1em 0 1em;
  border-top: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  border-left: 1px solid #c2c2c2;
  cursor: pointer;
}

.tab__controls .tab__control.tab__control-active {
  padding: 1em 1em 0 1em;
  background-color: #f5f5f5;
  color: #5c5c5c;
  border-bottom: 0px;
}

.tab__controls .tab__control.tab__control-spacer {
  padding: 0 2.9em;
  background-color: #ffffff;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 1px solid #c2c2c2;
  border-left: 0px;
}

#page-header {
  background-color: #318fc2;
}

#primary-nav .nav__item a {
  color: #ffffff;
}

#primary-nav .nav__item i {
  position: absolute;
  right: .4em;
  top: 4.5em;
}

@media (min-width: 761px) {
  #primary-nav .nav__item {
    padding: .8em;
    font-size: 17px;
  }
  #primary-nav .nav__item.nav__item-active {
    background-color: #17445c;
  }
}

#primary-nav .nav__items-desktop {
  display: none;
}

@media (min-width: 761px) {
  #primary-nav .nav__items-desktop {
    display: block;
  }
}

#primary-nav .nav__items-mobile {
  display: block;
}

@media (min-width: 761px) {
  #primary-nav .nav__items-mobile {
    display: none;
  }
}

@media (max-width: 760px) {
  #primary-nav.nav__items-open .nav__items-desktop {
    float: none;
    display: block;
    text-align: left;
  }
  #primary-nav.nav__items-open .nav__items-desktop a {
    float: none;
    display: block;
    text-align: left;
    background-color: #17445c;
    font-size: 17px;
    padding: .3em;
  }
}

@media (min-width: 761px) {
  #primary-nav {
    display: inline-block;
    float: right;
    margin: 10px;
  }
}

#page-logo {
  background-image: url("../images/urbank@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 74px;
  padding: 1.2em .5em;
}

@media (min-width: 761px) {
  #page-logo {
    background-image: url("../images/urbank.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 37px;
    width: 152px;
    padding: .1em 3em;
    display: inline-block;
  }
}

#login-section {
  padding: 10px 10%;
  text-align: center;
}

@media (min-width: 761px) {
  #login-section {
    text-align: right;
  }
}

#main-content {
  padding: 20px 3em;
}

#main-content .content__header {
  font-size: 30px;
  font-weight: 400;
  color: #640360;
}

#main-content .content__list {
  padding-left: 0;
  list-style-type: none;
}

#main-content .content__list li:before {
  content: "·";
  font-size: 30px;
  margin-right: .2em;
  vertical-align: middle;
  line-height: 20px;
}

#main-content .content__subheader {
  font-size: 17px;
}

@media (min-width: 761px) {
  #main-content {
    display: inline-block;
    max-width: 60em;
    padding: 0px 3em 20px 10em;
  }
}

#mobile-info {
  background-color: #bbd8c4;
  padding: 10px 1em 10px 1em;
  overflow-y: auto;
}

@media (min-width: 761px) {
  #mobile-info {
    position: relative;
    padding: 10px 10em 10px 1em;
    overflow-y: visible;
  }
}

#mobile-info .content__subheader {
  color: #640360;
  display: inline-block;
  margin-bottom: .5em;
}

#mobile-info .content__text {
  display: inline;
  margin-top: .5em;
}

#mobile-info-img {
  float: right;
  padding-left: .5em;
}

@media (min-width: 761px) {
  #mobile-info-img {
    position: absolute;
    right: 2em;
    bottom: 1em;
  }
}

#related-content {
  padding: 20px 1em;
  width: 100%;
  max-width: 20em;
}

@media (min-width: 761px) {
  #related-content {
    display: inline-block;
  }
}

@media (max-width: 760px) {
  #related-content {
    margin: auto;
  }
}

.section__header {
  font-weight: 400;
  margin: 35px 0;
}

#page-footer {
  background-color: #f5f5f5;
  height: 100px;
  width: 100%;
  font-size: 17px;
}

#page-footer .footer-copyright {
  display: inline-block;
  padding: .5em 3em 0 3em;
}

#page-footer .footer-links {
  display: inline-block;
  float: right;
  padding: .5em 3em 0 3em;
}

#page-footer .footer-links span {
  padding: 0px .5em;
}

.footer__link.footer__link-active {
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */